@import "./partials/bootstrap-overrides";

body{
    nav{
        .navDropBtn{
            border:0;
            background-color: #212529;
            img{
                width: 2rem;
            }
        }
        #dropdownUserProfile ~ ul {
            left: -200%;
            text-align: center;
        }
       

    }
     .dropdown-item:hover{
            background-color: #858585;
    }
    main{
        .carousel-inner .carousel-item.active,
        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev{
            display: flex;
        }
    }
        

    footer{

        color: #858585;
        svg{
            fill: #858585;
        }
        a{
            color: #858585;
            text-decoration: none;
        }

    }

}
*{
    margin:0;
}
